extends ../layout

block title
    title Accounts | TableSafe Portal

block content

    .welcome
        img(src='/img/viablewarelogo.png', alt='Viableware Logo')
        h1 Account Home Page
        p &nbsp;

        - var AuthCheck = false
        if AuthCheck
            p You are logged in as TODO: username
            p Token: TODO: user token
            p Timestamp: TODO: user time
            p 
                a(href='') Logout
        else
            p You are not signed in. Please do so now.
            p
                form.form-horizontal(action='/account/login' style='margin-bottom: 0px !important;')
                    p TODO
