extends ../layout

block title
    title Company Details | TableSafe Portal

block content
    .welcome
        img(src='/img/viablewarelogo.png', alt='Viableware Logo')
        h1 Company Detail Page