// DONE PORTING
// footer
footer(role="contentinfo")
    .clearfix
        ul.list-unstyled.list-inline
            li TableSafe &copy; 2015
            button.pull-right.btn.btn-inverse-alt.btn-xs.hidden-print#back-to-top
                i.fa.fa-arrow-up