footer(role="contentinfo")
    .clearfix
        ul(class="list-unstyled list-inline")
            li TableSafe &copy; 2015
            button.back-to-top(class="pull-right btn btn-inverse-alt btn-xs hidden-print")
                i(class="fa fa-arrow-up")