// DONE PORTING
// [if lt IE 9]
<script src='/assets/js/jquery-1.11.0.min.js'></script>
// [endif]
// [if (!IE) | (gte IE 9)]
<script src='/assets/js/jquery-2.1.0.min.js'></script>
// <![endif]

<script src='/assets/js/jqueryui-1.10.3.min.js'></script>
<script src='/assets/js/bootstrap.min.js'></script>
<script src='/assets/js/enquire.js'></script>
<script src='/assets/plugins/bootbox/bootbox.min.js'></script>
<script src='/assets/plugins/cookie/jquery.cookie.js'></script>
<script src='/assets/plugins/nice-scroll/jquery.nicescroll.min.js'></script>
<script src='/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
<script src='/assets/plugins/form-toggle/toggle.min.js'></script>
<script src='/assets/plugins/ladda-bootstrap/spin.min.js'></script>
<script src='/assets/plugins/ladda-bootstrap/ladda.min.js'></script>
<script src='/assets/plugins/spinners/spinners.min.js'></script>
<script src="/assets/plugins/boostrap-form-helpers/js/bootstrap-formhelpers.min.js"></script>
<script src="/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/assets/plugins/jquery-form/jquery.form.min.js"></script>
<script src='/assets/js/placeholdr.js'></script>
<script src='/assets/js/application.js'></script>
<script src="/assets/js/vw-custom/vw-utility.js"></script>
<script src="/assets/js/vw-custom/vw-main.js"></script>