// header
header.navbar.navbar-inverse.navbarfixed-top(role="banner")
    a.tooltips#leftmenu-trigger(data-toggle="tooltip" data-placement="right" title="Toggle Sidebar")
    .navbar-header.pull-left
        a.navbar-brand(href="/") TableSafe

    ul.nav.navbar-nav.pull-right.toolbar
        li.dropdown
            a.dropdown-toggle.username(href='#' data-toggle='dropdown') 
                span.hidden-xs TODO firstname
                    i.fa.fa-caret-down
                i.fa.fa-2x.fa-user.pull-right
            ul.dropdown-menu.userinfo.arrow
                li.username
                    .pull-left
                        i.fa.fa-3x.fa-user
                    .pull-right
                        // TODO : put user first name below
                        h5 Hello, TODO firstname
                        small Logged in as 
                            span TODO username
                li.userlinks
                    ul.dropdown-menu
                        li
                            a(href='/account/editProfile') Edit Profile
                                i.pull-right.fa.fa-pencil
                        li.divider
                        li
                            a.text-right(href='/account/logout') Sign Out
                                i.fa.fa-sign-out