block title
	title DefaultTitle | TableSafe Portal

//link(rel='apple-touch-icon' sizes='57x57' href='/public/images/apple-touch-icon-57x57.png')
<link rel="apple-touch-icon" sizes="57x57" href="/public/images/apple-touch-icon-57x57.png">

block head_imports
