// DONE PORTING
meta(charset='utf-8')
block title
    title | TableSafe Portal
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="TableSafe Customer Portal">
<meta name="author" content="TableSafe">

<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<link rel="stylesheet" href="/assets/less/styles.min.css?=121">
<link rel="stylesheet" href="/assets/fonts/glyphicons/css/glyphicons.min.css">
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' type='text/css'>
<link rel="stylesheet" href="/assets/plugins/ladda-bootstrap/ladda-themeless.min.css">
<link rel="stylesheet" href="/assets/plugins/boostrap-form-helpers/css/bootstrap-formhelpers.min.css">

// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute
<!--[if lt IE 9]>
<link rel="stylesheet" href="/assets/css/ie8.css">
<script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->

block head_imports
