block title
	title DefaultTitle | TableSafe Portal

//link(rel='apple-touch-icon' sizes='57x57' href='/public/images/apple-touch-icon-57x57.png')
<link rel="apple-touch-icon" sizes="57x57" href="/public/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">


block head_imports
