extends ../layout

block title
    | Dashboard

block content
    // content wrap
    #wrap
        #page-heading
            h1 Dashboard
        .container
            .row
                .col-md-12
                    .panel.panel-viableware
                        .panel-heading
                            h4 Control Panel
                            .options
                                a.panel-collapse(href='javascript:;')
                                    i.fa.fa-chevron-up
                        .panel-body
                            if Auth.check
                                p You are logged in as #{Auth.user.username}
                                p
                                    a(href='../account/logout') Logout
                            else
                                p You are not signed in. You can login
                                    a(href='../account/login') &nbsp; here